<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">About</h2>
                <h3 class="section-subheading text-muted about-desc">We are a bunch of passionate amateur cricketers,
                    lucky to have come all the way to US and still able to play the game that we love. We believe in
                    providing equal opportunity to the committed cricketers nurturing their talent. WCC is a friendly
                    and vibrant club where new players are warmly welcomed. While we do strive for excellence on the
                    field, however social side of the club game is also very important to us. We believe in the old
                    saying that “Cricket is a gentleman’s game” and we respect our opponent on and off the field.<br />
                    <br /></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image" onclick="openMe(event)">
                            <img class="img-circle modal-thumbnail" src="img/IMG-20190324-WA0011.jpg" alt="2019 Season WCC jersey unveiled">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2019</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Washington Cricket Club was established in Spring 2019 and in its
                                    inaugural season won both the 40 over (Div D) and 20 over (Div E) NWCL championship.
                                </p>
                            </div>
                            <div class="timeline-body">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image" onclick="openMe(event)">
                            <img class="img-circle modal-thumbnail" src="img/IMG-20190811-WA0013.jpg" alt="WCC F-16 tops points table after win in the final T40 league game">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2019</h4>
                                <h4 class="subheading">T40 Div D League toppers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image" onclick="openMe(event)">
                            <img class="img-circle modal-thumbnail" src="img/IMG-20190824-WA0005.jpg" alt="WCC F-16 emerges Div champions after winning the T40 final">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2019</h4>
                                <h4 class="subheading">T40 Div D Champions</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image" onclick="openMe(event)">
                            <img class="img-circle modal-thumbnail" src="img/IMG_2545.jpg" alt="WCC F-16 emerges Div champions after winning the T20 final">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>October 2019</h4>
                                <h4 class="subheading">T20 Div E Champions</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a class="page-scroll" href="#contact">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content modal-img" id="img01">
    <div id="caption" class="caption-text"></div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    document.addEventListener("keyup", function (event) {
        if (event.keyCode === 27) {
            modal.style.display = "none";;
        }
    });

    document.addEventListener('click', () => {
        let abc = !event.target.className.includes('modal-content');
        if (abc && (event.target.style.display === 'block' || event.target.classList.contains('caption-text'))) {
            modal.style.display = "none";
        }
    });

    function openMe(event) {
        modal.style.display = "block";
        modalImg.src = event.target.src;
        captionText.innerHTML = event.target.alt;
    }
</script>